<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Meteorological Data!</title>
    <!--<script type="text/javascript" src="@{/resources/static/js/app.js}"></script>-->
</head>
<body>

<div th:insert="~{header :: page-header}"></div>
<div style="display:flex; ">
    <div style="width:20%; " align="center">
        <form th:object="${location}" method="POST" action="/home/update">
            <table>
                <tr>
                    <h3>Location</h3>
                </tr>
                <tr>
                    <td><label>ID:</label></td>
                    <td><select th:field="*{id}" class="form-control">
                        <th:block th:each="location: ${locationList}">
                            <option th:text="${location.id}" th:value="${location.id}"></option>
                        </th:block>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Latitude:</label></td>
                    <td><input type="number" th:field="*{lat}" step=".01" placeholder="Max 2 decimals" required></td>
                </tr>
                <tr>
                    <td><label>Longitude:</label></td>
                    <td><input type="number" th:field="*{lon}" step=".01" placeholder="Max 2 decimals" required/></td>
                </tr>
                <tr>
                    <td><label>City:</label></td>
                    <td><input th:field="*{city}"/></td>
                </tr>
                <tr>
                    <td><label>State:</label></td>
                    <td><input th:field="*{state}"/></td>
                </tr>
                <tr align="center">
                    <form>
                        <input type="submit" value="Update" />
                    </form>
                </tr>
            </table>
        </form>
    </div>
    <div style="width:20%; " align="center">
        <table border="1" cellpadding="5">
            <tr style="font-size:140%;">
                <p>Location's Table</p>
            </tr>
            <tr>
                <th>ID </th>
                <th>Latitude </th>
                <th>Longitude </th>
                <th>City </th>
                <th>State </th>
            </tr>
            <tr th:each="location : ${locationList}">
                <td th:text="${location.id}"/>
                <td th:text="${location.lat}"/>
                <td th:text="${location.lon}"/>
                <td th:text="${location.city}"/>
                <td th:text="${location.state}"/>
            </tr>
        </table>
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>

</body>
</html>